<div style="width:80%;margin:0 auto;">
  <!--<p id="notice"><%= notice %></p>-->
  <div class="text-titulo">
    <h1>Listando Facturas</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Fecha</th>
        <th>Monto Neto</th>
        <th>Monto Bruto</th>
        <th>Cliente</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.codigo %></td>
          <td><%= invoice.fecha %></td>
          <td><%= invoice.neto %></td>
          <td><%= invoice.bruto %></td>
          <td><%= invoice.customer ? invoice.customer.nombre : "Sin asignar" %></td>
          <td><%= link_to 'Mostrar', invoice %></td>
          <td><%= link_to 'Editar', edit_invoice_path(invoice) %></td>
          <td><%= link_to 'Eliminar', invoice, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <p><%= link_to 'Nueva Factura', new_invoice_path %></p>
  <p><%= link_to "Atrás", menu_index_path %></p>
</div>