<div style="width:80%;margin:0 auto;">
  <!--<p id="notice"><%= notice %></p>-->

  <p>
    <strong>Código:</strong>
    <%= @invoice.codigo %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= @invoice.fecha %>
  </p>

  <p>
    <strong>Monto Neto:</strong>
    <%= @invoice.neto %>
  </p>

  <p>
    <strong>Monto Bruto:</strong>
    <%= @invoice.bruto %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= @invoice.customer ? @invoice.customer.nombre : "Sin asignar" %>
  </p>

  <%= link_to 'Editar', edit_invoice_path(@invoice) %> |
  <%= link_to 'Volver', invoices_path %>

  <p>
    <strong><h3>Detalles asignados a esta Factura:</h3></strong>
  </p>
  <p>
    <table>
      <thead>
          <tr>
            <th>Cantidad</th>
            <th>Horas-Hombre</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      <tbody>
        <% Detail.all.each do |detail| %>
          <tr>
            <% if @invoice.codigo==detail.invoice.codigo %>
              <td><%= detail.cantidad %></td>
              <td><%= detail.hh %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>

</div>