<!DOCTYPE html>
<html>
<head>
  <div class="text-titulo">
    <h1>¡Bienvenidos a Trasvasije!</h1>
  </div>  
</head>
<tbody>
<section>
  <nav class="be-blue white">
  <table>
    <tr><td><%= link_to "Clientes", customers_path, class: "form-control"%></td></tr>
    <tr><td><%= link_to "Entrega", deliveries_path, class: "form-control "%></td></tr>
    <tr><td><%= link_to "Materias",materials_path, class: "form-control"%></td></tr>
    <tr><td><%= link_to "Productos", products_path, class: "form-control"%></td></tr>
    <tr><td><%= link_to "Materia/Producto", mat_prods_path, class: "form-control"%></td></tr>
    <tr><td><%= link_to "Categoría", categories_path, class: "form-control"%></td></tr>
    <tr><td><%= link_to "Facturas", invoices_path, class: "form-control"%></td></tr>
    <tr><td><%= link_to "Detalles Factura", details_path, class: "form-control"%></td></tr>
  </table>
  </nav>
  </section>
</tbody>
</html>