<%= form_for(@customer) do |f| %>
  <% @customer.errors.full_messages.each do |message| %>
    <div class="error white">
      * <%= message %>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :rut, placeholder: "Rut", class: "form-control", style: "width:250px" %>
  </div>
  <div class="field">
    <%= f.text_field :nombre, placeholder: "Nombre", class: "form-control", style: "width:250px" %>
  </div>
  <div class="field">
    <%= f.text_field :direccion, placeholder: "Dirección", class: "form-control", style: "width:250px" %>
  </div>
  <div class="field">
    <%= f.number_field :fono, placeholder: "Teléfono", class: "form-control", style: "width:250px" %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn be-red white" %>
  </div>
<% end %>



