<div style="width:80%;margin:0 auto;">
  <p id="notice"><%= notice %></p>

  <h1>Listando Clientes</h1>

  <table>
    <thead>
      <tr>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Fono</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.rut %></td>
          <td><%= customer.nombre %></td>
          <td><%= customer.direccion %></td>
          <td><%= customer.fono %></td>
          <td><%= link_to 'Mostrar', customer %></td>
          <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
          <td><%= link_to 'Eliminar', customer, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Cliente', new_customer_path %>
</div>