<div style="width:80%;margin:0 auto;">
  <!--<p id="notice"><%= notice %></p>-->
  <div class="text-titulo">
    <h1>Listando Productos</h1>
  </div>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.codigo %></td>
          <td><%= product.nombre %></td>
          <td><%= product.category ? product.category.nombre : "Asigne Categoría" %></td>
          <td><%= link_to 'Mostrar', product %></td>
          <td><%= link_to 'Editar', edit_product_path(product) %></td>
          <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo Producto', new_product_path %>
</div>
